{
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-classnames"
    ],
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "endingPosition": "absolute-with-indent"
}
